@use '../../../styles/variables' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: $spacing-lg;

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: $spacing-md;
  }
}
